body {
  font-family: Arial, sans-serif;
  background-color: #e6e6e6;
  color: white;
  text-align: center;
  margin: 0px;
}

.navbar {
  margin-bottom: 2%;
  padding: 10px 25px 10px ;
}

.container-fluid {
  gap: 63%;
}

.mavbar .navbar-brand {
  margin-right: 10%;
}

.d-flex img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

ul li a{
  color: black;
}

.navbar ul li a:hover {
  color: orange;
  transform: scale(1.3);
  transition: 0.5s;
}

.navbar-brand img {
  width: 40px; /* Ukuran logo */
  height: 40px;
  border-radius: 50%; /* Jika ingin logo bulat */
}

.container {
  margin-bottom: 2%;
}


.form {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  color: black;
}

select {
  background-color: white;
  padding: 5px 10px ;
  border-radius: 5px;
  margin: auto;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color:orange;
  color: white;
}

textarea::placeholder {
  color: white;
}

textarea:focus {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Gaya dasar untuk slider */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ff0000; /* Warna jalur slider */
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

/* Jalur slider untuk WebKit (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-runnable-track {
  background: rgb(255, 255, 255); /* Warna jalur */
  height: 8px;
  border-radius: 4px;
  border: 1px solid orange;
}

/* Thumb (tombol geser) untuk WebKit */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: orange; /* Warna thumb */
  border: 2px solid #fff; /* Tambahkan border agar lebih jelas */
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px; /* Pusatkan thumb di jalur */
  transition: 0.2s;
}

/* Thumb ketika di-hover */
input[type="range"]::-webkit-slider-thumb:hover {
  background: #ffffff; /* Warna saat hover */
}


.result {
  font-size: 20px;
  font-weight: bold;
  background: orange;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  text-align: center;
  padding: 10px;
}